@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #FABC3D;
  --secondary-color: #123075;
}

@media (prefers-color-scheme: dark) {
  :root {}
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .button {
    text-align: center;
    background-color: #2575fc;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    transition: all .2s ease-in-out;
  }

  .button:hover {
    background-color: #0350d2;
  }

  .button-main {
    text-align: center;
    background-color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    transition: all .2s ease-in-out;
  }

  .button-main:hover {
    background-color: #faac3d;
  }

  .flex-class {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: white;
  font-family: var(--font-poppins);
}

.custom-container {
  max-width: 1320px;
}

.box-shadow {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.list-style {
  list-style-type: decimal;
  list-style-position: inside;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}

.children {
  display: none;
  position: absolute;
  top: 90%;
  z-index: 100;
  padding: 5px 0 5px 0;
  background: white;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: translateY(0);
  transition: transform 4s ease;
}

.dropdown:hover>.children {
  display: flex;
  transform: translateY(1px);
}

.announcement-left {
  background: url('../app/assets/image/announcement-left.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100%;
  height: 382px;
}

/*  SLİCK SLİDER START */

.slick-prev:before,
.slick-next:before {
  color: #FABC3D !important;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/*  SLİCK SLİDER END */

.radio-field {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* FORM START */
.label {
  color: black;
  padding: 0 5px 0 5px;
  margin-bottom: 2px;
}

.form-input {
  background: white;
  outline: 1px solid transparent;
  border-radius: 5px;
  height: 50px;
  padding: 10px;
  /* flex-grow: 1; */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
  transition: all .23s linear;
}

.form-input:focus-visible {
  outline: 1px solid var(--secondary-color);
  box-shadow: 0px 0px 5px 2px rgba(10, 116, 179, .5);
}

.checkbox input[type="checkbox" i] {
  width: 15px;
  height: 15px;
}

.checkbox input[type="checkbox"]:checked {
  accent-color: var(--primary-color);
}

.custom-select {
  position: relative;
}

.custom-select-elected {
  cursor: pointer;
}

.custom-select-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
  width: 100%;
}

.custom-select-options div {
  padding: 10px;
  cursor: pointer;
}

.custom-select-options div:hover {
  background-color: #f0f0f0;
}

.custom-select-options div:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.custom-select-options div:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


#radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#radio-group label {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  font-size: 17px;
  text-align: center;
  font-weight: medium;
  background: #888;
  transition: 0.3s;
  min-width: 65px;
  transition: all 150ms linear;
}

#radio-group label:has(input:checked) {
  background: var(--primary-color);
  color: white;
  box-shadow: inset 1px 1px 0px rgba(136, 136, 136, 0.3),
    inset -1px -1px 0px rgba(255, 255, 255, 0.25);
}

#radio-group input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

/* FORM END */

@media (min-width: 1400px) {
  .custom-container {
    max-width: 1170px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .custom-container {
    max-width: 1024px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .custom-container {
    max-width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .custom-container {
    max-width: 720px;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .custom-container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .custom-container {
    max-width: 100%;
  }
}